.fw-900 {
    font-weight: 900;
}

.ls-base {
    letter-spacing: -1px;
}

.ls-1 {
    letter-spacing: -3px;
}

.text-burnt {
    color: #3b2a1a; 
    text-shadow:
  0 1px 0 #00000055,
  0 2px 1px #00000033,
  0 3px 2px #00000022,
  1px 1px 2px #00000044,
  -1px -1px 2px #00000044;
mix-blend-mode: multiply;
}